pre {
  background-color: white;
  padding:       4px 10px;
  border-radius:      4px;
  color: black;
}
div#footer {
  height: 100px;
  padding-top: 20px;
}
img.full-w {
  width: 100%;
}
table.commonds>tbody>tr>td {
  padding-left: 10px;
}
table.commonds>tbody>tr:hover {
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: background-color 0.2s linear;
}
table.commonds>tbody>tr:hover >td>small {
  color: #000;
  -webkit-transition: color 0.2s linear;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
  border: none;
}
div#main {
  position: relative;
}
div.division {
  position: relative;
}
div#stream {
  margin-top: 50px;
  width: 600px;
  top:   0;
  right: 0;
}

small.sample {
  color: #f0f0f0;
}
